@if (Model != null)
{
    <MudCard>
        <MudCardHeader>
            <CardHeaderAvatar>
                <MudAvatar Color="Color.Secondary">@FirstLetter</MudAvatar>
            </CardHeaderAvatar>
            <CardHeaderContent>
                <MudText Typo="Typo.body1">@Model.Name</MudText>

            </CardHeaderContent>
          
        </MudCardHeader>
      
        <MudCardContent>
            <MudText Typo="Typo.body2">Simulation process for @Model.Name</MudText>
        </MudCardContent>
        <MudCardActions>
            <MudStack Row=true Justify="Justify.SpaceBetween">

                <IconButton ToolTip="@($"Load {Model.Name}")" Size="@Size.Small" Icon="@Icons.Material.Outlined.CloudUpload" Variant=Variant.Outlined OnClick="@(() => OnSelectProcess())" />

                <div>
                    <IconButton ToolTip="@($"Edit {Model.Name}")" Size="@Size.Small" Icon="@Icons.Material.Outlined.Edit" Variant=Variant.Outlined OnClick="@(() => Edit())" />
                    <IconButton ToolTip="@($"Delete {Model.Name}")" Size="@Size.Small" Icon="@Icons.Material.Outlined.Delete" Variant=Variant.Outlined Color="Color.Surface" OnClick="@(() => Delete())" />

                </div>
            </MudStack>
        </MudCardActions>
    </MudCard>

}


@code {

}
