@using Simulator.Client.HCPages.MainProcesses.Plans
@using Simulator.Client.HCPages.MainProcesses.Process

<MudStack>
    <MudCard>
        <MudStack>
            <MudStack Row="true">
                <IconButton Size=@Size.Small ToolTip="Add new Proces" Icon="@Icons.Material.Filled.Add" Variant=Variant.Outlined OnClick="AddNew"></IconButton>
                @if (!Showplanned)
                {
                    <Button ToolTip="Processes" OnClick="@(() => ShowProcess = !ShowProcess)" Text="Process"></Button>
                }

                @if (!Showplanned)
                {
                    <Button ToolTip="Planned" OnClick="@(() => Showplanned = !Showplanned)" Text="Planned"></Button>
                }
            </MudStack>
           

            @if (ShowProcess)
            {
                <div>
                    <MudGrid>
                        @foreach (var item in Items)
                        {
                            <MudItem xs="12" md="3">
                                <MainProcessCard Model="@item" GetAll="GetAll" SelectProcess="SelectProcessAndPlannedByID"></MainProcessCard>
                            </MudItem>
                        }
                    </MudGrid>
                </div>

            }


        </MudStack>
    </MudCard>
    <MudCard>
        @if (Showplanned)
        {
            @if (PlannedItems != null)
            {
                <SelectPlannedCards Items="@PlannedItems" MainProcessId="MainProcessId"
                                    GetAll="SelectAllPlan" PlannedChanged="SelectPlan"></SelectPlannedCards>
            }
        }

    </MudCard>
    <MudCard>

        @if (SimulationLoading)
        {
            <MudAlert Severity="Severity.Info" Variant="Variant.Filled">
                Loading Process, please wait....
            </MudAlert>
        }
        else if (Simulation != null)
        {
            <SelectedProcessTabs SimulationDTO="@SimulationDTO"
                FocusFactory=@FocusFactory Engine="@_engine" Simulation="@Simulation" 
                GetAll="SelectAllProcess" MainProcessId="@MainProcessId"></SelectedProcessTabs>
        }


    </MudCard>
</MudStack>

@code {

}
